@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
input:focus,
select:focus,
textarea:focus,
button:focus {
      outline: none;
  }

  button{
      border:none;
  }
  textarea{
    resize: none;

  }
/* 
.header{
    display:flex;
    background-color: transparent;
    justify-content: space-evenly;
}

.header .navheader ul{
    list-style-type: none;

}
.header .navheader ul li a{
    text-decoration:none;
    color: #dbdfeb;

}
.header .navheader ul li{
    display:inline-block;
    padding-right:64px;
    margin:36px 0;
    
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;

}

.header .logo{
  width: 145px;
  height: 72px;
  object-fit: contain;
  margin-top:4px;
  margin-bottom:13px;
}


.header .hamburg{
    margin:32px 0;
  } */

/*browse_plan header */

.browse_plan{
    height:750px;
    text-align:center;
    /* background:url("../assets/images/image-landing.png"); */
    background-repeat: no-repeat;
    background-size: cover;
}

.browse_plan_container{
    display:flex;
    justify-content: space-between;
    /* margin-right:5%; */
    background: url("../assets/images/product/bike-product-copy.jpg");
    height:992px;
    text-align:center;
    /* background:url("../assets/images/image-landing.png"); */
    background-repeat: no-repeat;
    background-size:cover; 
    width: 100%;
    margin-top: -5%;
    /* margin-bottom: -1%; */
}

.form{
    margin-right: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.browse_form{
    width: 350px;
    height: 45px;
    margin-bottom: 24px;
    border-radius: 28px;
    background-color: #0d1019;
    padding-left: 32px;
    font-family: "Poppins";
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #7b819f;
    border: 2px solid #7b819f;
}

.form_button{
    background: transparent;
    border:none;
}

.form_icon{
    font-size: 30px;    
    color: #7b819f;
    position: absolute;
    margin-top: -20px;
    margin-left: -50px;
}

.plan_texts{
    padding-top:224px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #dbdfeb;
    margin-right: 120px;
 

}

.buy_bikes{
    border-radius: 36px;
    background-color: #d6177d;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal; 
    color: #dbdfeb;
    padding:11px 27px;
    border:none;
    text-decoration:none;
    display:block;
    margin:auto;
    margin-right: 200px;
}

.browse_plan_btn{
    border-radius: 36px;
    border: solid 2px #dbdfeb;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #dbdfeb;
    padding:11px 24px;
    background: transparent;


}
/*browse_plan header  over*/



/*Cycle lady */
.cycle_lady{
    height: 760px;
    background:url("../assets/images/bike-hero-image-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #dbdfeb;
    display:flex;
    background-position: center;
}

.cycle_lady div{
    width:50%;
}

.cycle_lady .head{
  font-family: "Poppins";
  font-size: 44px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: normal;
  color: #181c2b;
  margin-left:160px;
  margin-top:184px;
}

.cycle_lady .para{
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #0d1019;
    margin-left:160px;
    margin-top:32px;

}

.cycle_lady .contact_us{
     
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #dbdfeb;
    border-radius: 36px;
    background-color:#d6177d;
    padding:10px 33px;
    margin-top:10px;
    margin-left:273px;
    border:none;

}
/*cylce lady over*/

/*cylce types */


.cycles_types{
    display:flex;
    flex-wrap:wrap;
}

.cycles_types div{
    width: 33.33%;
    height: 400px;
    
}

.cycles_types div img{
    width: 100%;
    height: 400px;
    
}
/* .cycles_types{
   
        display: grid;
        grid-template-columns: repeat(3,400px);
        grid-template-rows: repeat(3,480px);
      
      
} */

.cycles_types .image_para{
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #b7c9ff;
  }

.cycles_types .cycle_1{
    background: #0d1019;
    position:relative;
}

.cycles_types .cycle_1 p{
    position:absolute;
    top:48px;
    left:40px;
}
.cycles_types .cycles_list .pc_cycles{
    transition: .3s ease;

}

.cycles_types .cycles_list .hover_data{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: #b7c9ff;
}


.cycles_types .cycles_list:hover .image_para{
    opacity: 0;
  }
  
.cycles_types .cycles_list:hover .pc_cycles{
    opacity: 0.3;
    filter: blur(3px);
    -webkit-filter: blur(3px);
  
  }
  
.cycles_types .cycles_list:hover  .hover_data {
    opacity: 1;
  }

.cycles_types .cycle_2{
    background: #0d1019;
    position:relative;
}


.cycles_types .cycle_2 p{
    position:absolute;
    top:48px;
    left:40px;
}



.cycles_types .cycle_3{
    background: #0d1019;
    position:relative;

}

.cycles_types .cycle_3 p{
    position:absolute;
    top:48px;
    left:40px;
}


.cycles_types .cycle_4{
    background: #0d1019;
    position:relative;
}

.cycles_types .cycle_4 p{
    position:absolute;
    top:48px;
    left:40px;
}

.cycles_types .cycle_5{
    background: #0d1019;
    position:relative;

}

.cycles_types .cycle_5 p{
    position:absolute;
    top:48px;
    left:40px;
    
}

.cycles_types .cycle_6{
    background: #0d1019;
    position:relative;

}


.cycles_types .cycle_6 p{
    position:absolute;
    top:48px;
    left:40px;

}

/*cylce types over */

/*ride everyday*/
.ride_everyday{
    height: 768px;
    display: flex;
    
    padding-top: 50px;
    background:url("../assets/images/image-app.png");
    background-color:#dbdfeb;
    background-repeat: no-repeat;
    /* background-position: -149px 0px; */
    background-size:cover;
    background-position: center;


}

.ride_everyday .head{
  font-family: "Poppins";
  font-size: 44px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: normal;
  color: #181c2b;
  padding-top:90px;
  padding-left:160px;
}


.ride_everyday .para{
    width:496px;
     
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #0d1019;
    padding-top:32px;
    margin-left:160px;
  }


.ride_everyday .contact_us{
     
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #dbdfeb;
    border-radius: 36px;
    background-color:#d6177d;
    padding:10px 33px;
    margin-top:64px;
    margin-left:273px;
}

.ride_everyday1{
    height: 768px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    /* background:url("../assets/images/image-app.png"); */
    background-color:#dbdfeb;
    background-repeat: no-repeat;
    /* background-position: -149px 0px; */
    background-size:cover;
    background-position: center;


}

.ride_everyday1 img {
    margin-bottom: -7px;
    width: 100%;
    max-width: 100%;
}

.ride_everyday1 .head{
  font-family: "Poppins";
  font-size: 44px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: normal;
  color: #181c2b;
  padding-top:90px;
  /* padding-left:160px; */
}


.ride_everyday1 .para{
    width:496px;
     
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #0d1019;
    padding-top:32px;
    
  }


.ride_everyday1 .contact_us{
     
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #dbdfeb;
    border-radius: 36px;
    background-color:#d6177d;
    padding:10px 33px;
    margin-top:64px;
    margin-left:273px;
}

/*ride everyday end */


/* feature start */

.features{
    height: 753px;
    background:url("../assets/images/logo_background.png");
    background-repeat: no-repeat;
    background-color: #181c2b;
    /* background-position: 932px 155px; */
    background-position:90% center;
}

.features h1{
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b7c9ff;
    padding-top:96px;
    margin-left:160px;
}
.features .feature_list{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.features .feature_list div{
    /* width:480px; */
    width:33.333%;
    padding:0 35px;

}
.features .feature_list div .feature_list_img{
    margin:0 auto;
    text-align:center;
    margin-top:54px;
    }

.features .feature_list div .head{
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: center;
    color: #b7c9ff;
}


.features .feature_list div .para{
   
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: #b7c9ff;
}


/* feature end */

/* testimonial */
.testimonial{
    height: 532px;
    background-color: #0d1019;

}

.testimonial .head{
     
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: #b7c9ff;
  padding-top:64px;
  text-align:center;

}

.testimonial .para{
    font-family: "Poppins";
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.33;
    letter-spacing: normal;
    color: #dbdfeb;
    margin:0 auto;
    margin-top:45px;
    width: 736px;
}

.testimonial .para_name{
     
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #b7c9ff;
    margin-top:20px;
    margin-left:352px;
    text-align:left;
   
}


/* testimonial over*/

/* community feature  */
.comm_feature{
    height:745px;
    background:#181c2b;
}
.comm_feature .heading{
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b7c9ff;
    padding-left:67px;
    text-align:left;
    padding-top:96px;

}

.comm_feature .card_features{
    display:flex;
    justify-content: space-evenly;
    margin-top:48px;
    flex-wrap: wrap;

}


.comm_feature .card_features .card{
  width:336px;
  height:444px;
  color:white;
  background:black;
  /* margin:0 47px; */
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 2%;
  
}


.comm_feature .card_features .card .card_img{
    height: 192px;
    overflow:hidden;
    padding:15px;
    /* margin:0 47px; */
    
  }
  
.card_features .card .feature_img{
    width: 100%;
    height: 192px;
    
  }

  .card_features .card .card_head{
   
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: center;
  color: #b7c9ff;
  margin-top:40px;
  
}


.card_features .card .card_para{
   
     
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: #b7c9ff;
  margin-top:12px;
  padding:0  56px;
  /* margin-bottom:114px; */

  }




/* community feature  over */

/* Fit  Everyday */

.fit_everyday{
    height:810px;  
    /* background:url("../assets/images/better_everyday.png"); */
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    
}

.fit_everyday .fit_heading{
    font-family: "Poppins";
  font-size: 72px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #dbdfeb;
  margin: auto auto;
  width: 579px;
  height: 101px;
  padding-top:355px;
  padding-bottom:354px;
}
/* Fit  Everyday over */



/* Contact Us */
.contact_us_form{
height:1050px;
display:flex;
justify-content: space-around;
background:#181c2b;
}

.contact_us_form div
{
   width:50%;
}
.contact_text{
    margin-left:160px;
}
.contact_text .form_heading{
    margin-top:96px;
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #b7c9ff;
}


.contact_text .form_paragraph{
    margin-top:32px;
     
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  color: #dbdfeb;
}




.contact_text .form_label
{
     
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    color: #b7c9ff;
    margin-top:64px;

}


.contact_text .form_value
{
    margin-top:12px;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    color:#dbdfeb;
  
}

.contact_text .social_icons{
     
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color:#dbdfeb;
    margin-top:64px;
}

.contact_text .form_copyright{
     
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color:#dbdfeb;
    margin-top:50px;
}




/* right side  */

.form_contact_us{
    margin-right: auto;
    display: inline-block;
    margin-top:0px;
}

.form_contact_us .form_input{
    width: 448px;
  height: 56px;
  margin-bottom: 24px;
  border-radius: 28px;
  background-color: #0d1019;
   padding-left:32px;
   font-family: "Poppins";
   font-size: 20px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.1;
   letter-spacing: normal;
   color: #7b819f;
   border:0;
}


.form_contact_us .form_phone_input{
    width: 448px;
    height: 56px;
    margin-bottom: 24px;
    border-radius: 28px;
    background-color: #0d1019;
     padding-left:32px;
     font-family: "Poppins";
     font-size: 20px;
     font-weight: normal;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.1;
     letter-spacing: normal;
     color: #7b819f;
     border:0;
}

.form_contact_us .form_text_area{
  width: 448px;
  height: 142px;
  margin-bottom:24px;
  border-radius: 28px;
  padding-left:32px;
  padding-top:24px;
  background-color: #0d1019;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  color: #7b819f;
  border:0;
}


.form_contact_us .form_heading{
    margin-bottom:20px;
    margin-left: 50px !important;
    font-family: "Poppins";
    font-size: 32px;
    margin-left: 50px; 
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #b7c9ff;
    text-align: center;
}

.form_contact_us .form_box{
    margin-top: 96px;
}

.form_contact_us .form_button{
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #dbdfeb;
    display:block;
    border-radius: 36px;
    background-color: #d6177d;
    width: 144px;
    height: 40px;
    border:0;
    margin: auto;

}
/* Contact us over */


.mobile_img{
    padding:0 5px;
}




.header_mobile{
    display:none;
}

.mob_cycle_lady{
    display:none;
}

.mobile_footer_content{
    display:none;
}


.mob_feature{
    display:none

}

.mob_cycles{
    display:none;
}
/* Media Query Start for Mobiles */


.phonecode{
    display:flex;
    height:200px;
}
.phonecode .code{
    flex-basis:20%;
}
.phonecode .mobile_input
{
   
    margin-bottom: 24px;
    border-radius: 28px;
    background-color: #0d1019;
    padding-left: 32px;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #7b819f;
    border: 0;
}

.contact_text .desktop_para {
    margin-top:16px;
         
    font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  color: #dbdfeb;
}

.PhoneInputCountrySelectArrow {
    display: none !important;
}
.PhoneInputCountry {
    width: 60px !important;
}

.PhoneInputCountryIcon--border {
    background-color: none !important;
    box-shadow: none !important;
}
.PhoneInputInput {
    width: 448px;
    height: 56px;
    border-radius: 28px;
    background-color: #0d1019;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #7b819f;
    border: 0;
}
.form_contact_us p {
    color: #bf1650;
}

.form_contact_us p::before {
    display: inline;
    content: "⚠ ";
}

.popup_title{
    font-family: "Poppins";
    font-size: 24px;
    color: #7b819f;
}
.popup_desc {
    font-family: "Poppins";
    font-size: 14px;
    color: #7b819f;
}

.popup_btn {
    font-family: "Poppins" !important;
    font-size: 14px !important;
    color: #7b819f !important;
}

.MuiInputBase-input {
    font-family: "Poppins" !important;
    font-size: 14px !important;
    color: #515463 !important;
}

.MuiInputLabel-root {
    font-family: "Poppins" !important;
    font-size: 13px !important;
    color: #7b819f !important;
}
.MuiAlert-root {
    font-family: "Poppins" !important;
    font-size: 13px !important;
}
.MuiDialog-paper {
    background: #0D1019 !important;
}

.upcoming_video{
    height:850px;
    background:#181c2b;
}
.upcoming_video .heading{
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b7c9ff;
    padding-left:67px;
    text-align:left;
    padding-top:96px;

}



.upcoming_video .sub_heading{
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b7c9ff;
    padding-left:67px;
    text-align:left;
    padding-top:96px;

}

.upcoming_video .root {
    display: flex;
    padding-left: 4.35%;
    padding-right: 4.35%;
    padding-top: 3.36%;
    padding-bottom: 3.36%;
    background: #0D1019;
    box-shadow: -4px -4px 10px rgba(37, 43, 68, 0.75), 4px 4px 10px #000000;
    border-radius: 8px;
}

.upcoming_video .root:hover {
    transform: scale3d(1.2, 1.2, 1.2) !important;
}

.upcoming_video .details {
    display: flex;
    flex-direction: column;
}
.upcoming_video .content {
    flex: 1 0 auto;
}
.upcoming_video .cover {
    width: 202px;
    height: 251px;
    border-radius: 5px;
}
.upcoming_video .title {
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b7c9ff;
    padding-left:25px;
    text-align:left;
    padding-top:25px;
}

.upcoming_video .desc {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b7c9ff;
    padding-left:25px;
    text-align:left;
    padding-top:5px;
}
.upcoming_video .cat {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b7c9ff;
    padding-left:25px;
    text-align:left;
    text-transform: uppercase;
}
.upcoming_video .controls {
    display: flex;
    justify-content: center;
}

.upcoming_video .grid {
    justify-content: space-around;
    padding-top: 50px;

}

.video-react.video-react-fluid,
.video-react.video-react-16-9,
.video-react.video-react-4-3 {
  width: 850px !important;
}

.ride_img{
    display: none;
}

.news_logo_box{
    background: #E1E3EF;
    height: 608px;
}

.news_box {
    box-shadow: 12px 12px 29px rgba(0, 0, 0, 0.13);
    width: 304px;
    height: 304px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news_head {
    font-family: 'Poppins';
    font-size: 60px;
    text-align: center;
    color: #181C2B;
    padding: 31px 0 62px;
}

.carousel-indicators {
    bottom: -65px !important;
}

.carousel-indicators li {

    background-color: #181C2B !important;
}

.carousel-control-prev {
    display: none !important;
}

.carousel-control-next {
    display: none !important;
}



.mobile_slider {
    display: none !important;
}

._YLx_9 {
    left: 25px !important;
    right: auto !important
}

@media only screen and (max-width: 600px) {

    .upcoming_video {
        height: 1650px;
    }

    .news_head {
        font-size: 28px;
    }

    ._YLx_9 {
        width: auto !important;
        left: 0 !important;
        transform: inherit !important;
        bottom: 0 !important;
    }


    .desktop_slider {
        display: none !important;
    }

    .mobile_slider {
        display: block !important;
    }

    .ride_img {
        width: 678px;
        height: 358px;
        margin-left: -82%;
        margin-right: auto;
        margin-top: 50px;
        display: block;
    }

    .upcoming_video .root:hover {
        transform: scale3d(1, 1, 1) !important;
    }

    .upcoming_video .root {
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 15px;
    }

    .upcoming_video .grid {
        padding-top: 0;
    }

    .upcoming_video .heading {
        font-size: 24px;
    }

    .upcoming_video .sub_heading {
        font-size: 18px;
    }

    .PhoneInputInput {
        width: 264px;
        display: block;
        height: 32px;
        margin: 0 auto;
        border-radius: 28px;
        background-color: #0d1019;
        font-family: "Poppins";
        padding: 0;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: normal;
        color: #7b819f;
        border: 0;
    }
    
    .form_contact_us .form_heading {
        margin-bottom: 215px;
        font-size: 24px;
        margin-left: 0 !important;
    }
    /* header */

    .desktop_para{
        display: none;
    }
    
    .header_mobile {
        background-color: none !important;
    }
    .browse_plan_container {
        background-image: url('../assets/mob_images/mobileHome.png');
        background-position: center;
        background-size: contain;
        margin-top: -45%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .browse_plan{
        height:640px; 
        text-align:center;
        /* background:url("../assets/mob_images/image-landing-mobile.png"); */
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header{
        display:none;
    }


.form{
    margin-right: 0;
}

.browse_form {
    width: 300px;
}
   
.header_mobile{
    display:flex;
    /* background-color: transparent; */
    justify-content: space-between;
}

 .header_mobile .mobile_logo{
  
  object-fit: contain;
  margin-left:24px;
  margin-top:12px;
  
}

.header_mobile .mobile_hamburg{
    margin-top:28px;
    margin-right:28px;
    display: none;
  }

  /* header_over */


/* cycle_guy_text */

.plan_texts{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: #dbdfeb;
    padding:0 24px;
    margin-top:-216px !important;
    margin-bottom:40px;
    margin-right: auto;


}

.buy_bikes{
    border-radius: 36px;
    display:block;
    background-color: #d6177d;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #dbdfeb;
    padding:7px 17px;
    margin:0 auto;
    border:none;

}

    .browse_plan_btn{
    display:block;

    border-radius: 36px;
    border: solid 2px #dbdfeb;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #dbdfeb;
    padding:11px 24px;
    background: transparent;
    margin:0 auto;
    margin-top:32px;



}
/* cycle_guy_text over */




/*Cycle lady */
.cycle_lady{
    height: 838px;
    background-repeat: no-repeat;
    background:none;
    background-size: contain;
    background-color: #dbdfeb;
    display:block;
    margin-top: -35%;
}

.cycle_lady div{
    width:100%;
    height:100%;
}
.cycle_lady .mob_cycle_lady{
    display:block;
    margin:0 auto;
    margin-top:40px;

}

.cycle_lady .head{
  font-family: "Poppins";
  color: #181c2b;
  margin:0 auto;
  padding-top:64px;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
}

.cycle_lady .para{
    display:block;
    color: #0d1019;
    margin:0 auto;
    margin-top:32px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    padding:32px 42px;

}

.cycle_lady .contact_us{
     
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #dbdfeb;
    border-radius: 36px;
    background-color:#d6177d;
    padding:10px 33px;
    margin:0 auto;
    margin-top:40px;
    border:none;
    display:block;
}

.extra_div{
    display:none;
}
/*cylce lady over*/

/* cycle types */


.mob_cycles{
    display:block;
}


.pc_cycles{
    display:none;
}

.cycles_types div{
    width: 100%;
    /* height: 240px; */
    
}


.cycles_types div img{
    width: 100%;
    height: 100%;
    
}



.cycles_types .image_para{
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #b7c9ff;
  }




.cycles_types .cycle_1 p{
    position:absolute;
    top:40px;
    left:40px;
}



.cycles_types .cycle_2 p{
    position:absolute;
    top:40px;
    left:40px;

}


.cycles_types .cycle_3 p{
    position:absolute;
    top:40px;
    left:40px;

}



.cycles_types .cycle_4 p{
    position:absolute;
    top:40px;
    left:40px;

}


.cycles_types .cycle_5 p{
    position:absolute;
    top:40px;
    left:40px;

}


.cycles_types .cycle_6 p{
    position:absolute;
    top:40px;
    left:40px;

}




.cycles_types .cycles_list .hover_data{
    
    width: fit-content;

}


.cycles_types .cycles_list:hover .mob_cycles{
    opacity: 0.3;
  }


/* cycle type over */


/* ride everyday */

.ride_everyday{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 90px 0 0px;
    background-image: none !important;
    background-color:#dbdfeb;
    background-repeat: no-repeat;
    /* background-position: -149px 0px; */
    background-size: contain;
    background-position: center right;

}

.ride_everyday .head{
  font-family: "Poppins";
  color: #181c2b;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  padding:0;
  padding-bottom: 0;
  padding-top:48px;
  text-align: center;
  margin-bottom:0;
}


.ride_everyday .para{
     
    font-size: 16px;
    color: #0d1019;
    padding:0;
    
    width:100%;
    margin:0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    padding:32px 50px;
   

  }


.ride_everyday .contact_us{
     
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #dbdfeb;
    border-radius: 36px;
    background-color:#d6177d;
    padding:10px 33px;
    margin:0 auto;
    margin-top:48px;
    display:block;
}

/*ride everyday end */

/* ride everyday */

.ride_everyday1{
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
    
    background-color:#dbdfeb;
    background-repeat: no-repeat;
    /* background-position: -149px 0px; */
    background-size: contain;
    background-position: center right;

}

.ride_everyday1 img {
    width: 370px;
    margin-bottom: -27%;
    margin-top: 50px
   
}

.ride_everyday1 .head{
  font-family: "Poppins";
  color: #181c2b;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  padding:0;
  padding-bottom: 0;
  padding-top:48px;
  text-align: center;
  margin-bottom:0;
}


.ride_everyday1 .para{
     
    font-size: 16px;
    color: #0d1019;
    padding:0;
    
    width:100%;
    margin:0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    padding:0 50px;
    padding-top:32px;

  }


.ride_everyday1 .contact_us{
     
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #dbdfeb;
    border-radius: 36px;
    background-color:#d6177d;
    padding:10px 33px;
    margin:0 auto;
    margin-top:48px;
    display:block;
}



/* feature start */
.pc_feature{
    display:none

}

.mob_feature{
display:block;

}


.features{
    height: 858px;
    background:url("../assets/mob_images/logo-watermark-1.png");
    background-repeat: no-repeat;
    background-color: #181c2b;
    /* background-position: 932px 155px; */
    background-position:90% center;
}

.features h1{
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: center;
  color: #b7c9ff;
  padding:0;
  margin:0;
  padding-top:48px;
}
.features .feature_list{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.features .feature_list div{
    /* width:480px; */
    width:50%;
    padding:0 35px;

}
.features .feature_list div .feature_list_img{
    margin:0 12%;
    text-align:none;
    margin-top:40px;
    display:block;
    }

.features .feature_list div .head{
    font-family: "Poppins";
    margin-top:8px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #b7c9ff;
}


.features .feature_list div .para{
   

  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: #b7c9ff;
}


/* feature end */




/* testimonial */
.testimonial{
    height: auto !important;
    padding-bottom: 117px;
    background-color: #0d1019;

}

.testimonial .head{
     
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.17px;
    color: #b7c9ff;
    padding-top:48px;
    text-align:center;

}

.testimonial .para{
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    margin:0;
    padding:0;
    width:100%;
    padding:0 42px;

    margin-top:32px;
}

.testimonial .para_name{
   
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: #b7c9ff;
  margin:0;
  padding:0;
  margin-top:16px;
   
}


/* testimonial over*/



/* community feature  */
.comm_feature{
    height:1380px;
    background:#181c2b;
}
.comm_feature .heading{
    font-family: "Poppins";
    
    color: #b7c9ff;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: center;
    padding:0;
    margin:0;
    padding-top:48px;

}

.comm_feature .card_features{
    display:flex;
    justify-content: space-evenly;
    margin-top:0;
    flex-wrap: wrap;
}


.comm_feature .card_features .card{
  width:280px;
  height:392px;
  color:white;
  background:black;
  /* margin:0 47px; */
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 2%;
margin-top:24px;
  
}


.comm_feature .card_features .card .card_img{
    height: 160px;
    width:100%;
    overflow:hidden;
    padding:15px;
    /* margin:0 47px; */
    
  }
  
.card_features .card .feature_img{
    width: 100%;
    height: 160px;
    
  }

  .card_features .card .card_head{
   
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #b7c9ff;
  margin-top:24px;
  
}


.card_features .card .card_para{
   
     

    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;

  color: #b7c9ff;
  margin-top:16px;
  padding:0  40px;
  /* margin-bottom:114px; */

  }




/* community feature  over */



/* Fit  Everyday */

.fit_everyday{
    height:810px;  
    background:url("../assets/mob_images/mobile_better.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    
}

.fit_everyday .fit_heading{
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #dbdfeb;
    margin: auto;
    width: 100%;
    height:100%;
    padding:0;
    padding-top:100%;

}
/* Fit  Everyday over */




/* Contact Us */
.contact_us_form{
    height:1370px;
    display:flex;
    justify-content: space-around;
    background:#181c2b;
    flex-wrap: wrap;
    margin-top: -5px;
    }
    
    .contact_us_form div
    {
       width:100%;
    }

    .contact_us_form form {
        margin-top: -45%;
    }
    .contact_text{
        margin:0;
    }
    .contact_text .form_heading{
        margin-top:48px;
        font-family: "Poppins";
        font-size: 24px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.58;
        letter-spacing: normal;
        text-align: center;
        color: #b7c9ff;
    }
    
    .contact_text .form_paragraph{
        margin-top:16px;
         
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: normal;
        text-align: center;
        color: #dbdfeb;
    }
    
    
    
    
    .contact_text .form_label
    {
         
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #b7c9ff;
        text-align: center;

        margin-top:32px;
    
    }
    
    
    .contact_text .form_value
    {
        margin-top:8px;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: center;
        color:#dbdfeb;
      
    }
    
    .contact_text .social_icons{
         
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.1;
        letter-spacing: normal;
        color:#dbdfeb;
        margin-top:32px;
        text-align:center;
        display:block;
    }
    
    .contact_text .form_copyright{
         

        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: center;
        color:#dbdfeb;
        margin-top:32px;
    }
    
    
    .mobile_footer_content{
    display:block;
     
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #b7c9ff;
    margin:0 auto;
    margin-top:48px;
    width:50%;

    }
    
    /* right side  */
    
   
    .form_contact_us .form_input{
        width: 264px;
        display:block;
      height: 32px;
     text-align: center;
     margin:0 auto;
      margin-bottom: 24px;
      border-radius: 28px;
      background-color: #0d1019;
       font-family: "Poppins";
        padding:0;
       font-size: 14px;
       font-weight: normal;
       font-stretch: normal;
       font-style: normal;
       line-height: 1.14;
       letter-spacing: normal;
       color: #7b819f;
       border:0;
    }

    .form_contact_us .form_phone_input {
        width: 264px;
        display:flex;
      height: 32px;
     text-align: center;
     margin:0 auto;
      margin-bottom: 24px;
      border-radius: 28px;
      background-color: #0d1019;
       font-family: "Poppins";
        padding:0;
       font-size: 14px;
       font-weight: normal;
       font-stretch: normal;
       font-style: normal;
       line-height: 1.14;
       letter-spacing: normal;
       color: #7b819f;
       border:0;
    }
    
    .form_contact_us .form_text_area{
      width: 264px;
      height: 160px;
      border-radius: 28px;
      padding:0;
      background-color: #0d1019;
      font-family: "Poppins";
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      color: #7b819f;
      border:0;
      text-align:center;
      margin:0 auto;
      padding:5px 8px;
      display:block;

    
    
    }
    
    .form_contact_us .form_button{
        margin-top:32px;
         
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #dbdfeb;
        display:block;
        border-radius: 36px;
        background-color: #d6177d;
        width: 144px;
        height: 40px;
        border:0;
        margin:0 auto;
        margin-top:32px;


    
    }
    /* Contact us over */
    



      
      
}

