

.container{
    min-height:30vh;
    height:auto;
    background:#f0f0f0;
    text-align:center;

}

.main_head{
    font-family: 'Poppins';
  font-size: 45px;
  font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0d1019;
    padding-top:2%;
}



.mini_head{
    font-family: 'Roboto';
  font-size: 16.9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0d1019;
}


.content_container{
    padding:0 10%;
    min-height:80vh;
    height:auto;
    margin:5% 0;
}


.content{
    font-family: 'Roboto';
    font-size: 16.7px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: #0d1019;
}