
.container{
    /* padding:10% 10%; */
    padding:0% 10%;

    background:#f0f0f0;
    padding-bottom:5%;


}

.main_head{
    font-family: 'Poppins';
  font-size: 10rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0d1019;
  margin:0;
  margin-left:1%
}


.mini_head{
    font-family: 'Poppins';
    font-size: 2.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #505050;
    margin:0;
    margin-left:1%
}
.flex_container{
    display:flex;
}
.flex_container .main{
width:50%;
margin: 0 2%;

}

.left_container{
    width:100%;
    border-radius: 5px;
    background-color: #ffffff;
    margin:5% 0;
    padding:5%;
    min-height:50vh;
    height:auto;
}


.list{
    list-style-type: none;
    margin-top:5%;
}


.heading{
    font-family: 'Poppins';
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0d1019;
  margin:0
  
}


.btn{
    background:#d6177d;
    border-radius:1rem;
    display:block;
    padding:3%;
    margin:2% auto;


    font-family: 'Poppins';
    font-size: 14.6px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.right{
    background:#0d1019;
    color:white;
    text-align: center;
    padding:5%;
    margin-top:5%;
}


.inputs{
margin:2% 0;
padding:5%;
border-radius: 1rem;
width:100%
}

.hidden{
    display:none;
}


.title{
    font-family: 'Poppins';
    font-size: 16.7px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0d1019;
    margin-top:5%;
}

.para{
    font-family: 'Roboto';
    font-size: 14.6px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #545454;
    padding-left:5%;
}


.right_head{

    font-family: 'Poppins';
    font-size: 20.8px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.right_para{
    font-family: 'Roboto';
    font-size: 12.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}