@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
  }

input:focus,
select:focus,
textarea:focus,
button:focus {
      outline: none;
  }

  button{
      border:none;
  }
  textarea{
    resize: none;

  }
/* 
.header{
    display:flex;
    background-color: #0d1019;
    justify-content: space-evenly;
}

.header .navheader ul{
    list-style-type: none;

}
.header .navheader ul li{
    display:inline-block;
    padding-right:64px;
    margin:36px 0;

    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #dbdfeb;

}

.header .logo{
  width: 145px;
  height: 72px;
  object-fit: contain;
  margin-top:12px;
  margin-bottom:13px;
}


.header .hamburg{
    margin:32px 0;
  } */

/*browse_plan header */
/* 
.browse_plan{
    height:810px;
    text-align:center;
    background:url("../assets/images/product/bike-product-copy.png");
    background-repeat: no-repeat;
    background-size: cover;
} */

/*browse_plan header  over*/

/* Contact us over */


.footer{
  height: 680px;
  padding-top:64px;
  background:url("../assets/images/footer.png");
  background-repeat: no-repeat;
  background-color: #0d1019;
  background-position:152px 79px;


}

.footer .footer_menu{
    display:flex;
}

.footer_menu div{
    width:50%;
}

.footer_menu .footer_menu_1{
    display:flex;
    justify-content: center;

}

.footer_menu .footer_menu_1 div{
    width:22%;
    margin:5px
}

.footer_heading
{ 
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #7b819f;

}

.footer_menu_1 div ul{
    list-style-type: none;
    padding-top:16px;
}

.footer_menu_1 div ul li{

  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #dbdfeb;
  padding:8px 0;
}


.footer_menu_1 div ul li a{

    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #dbdfeb;
    padding:8px 0;
    text-decoration:none;
  }

.footer_text{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #dbdfeb;
    width:1120px;
    height:160px;
    margin:auto;
    text-align:left;
    margin-top:67px;
    margin-left: 97px;
}


.footer_input{
    width: 264px;
  height: 40px;
 text-align: center;
  margin-bottom: 24px;
  border-radius: 28px;
  background-color: whitesmoke;
   font-family: "Poppins";
    padding:0;
   font-size: 14px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.14;
   letter-spacing: normal;
   color: black;
   border:0;
}

.footer_form_button{
    margin-top:32px;

    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #dbdfeb;
    border-radius: 36px;
    background-color: #d6177d;
    width: 144px;
    height: 40px;
    border:0;
    margin:0 auto;
    margin-top:2px;
    margin-left:15px;


}

.right_footer{
    margin-top:3px;
}


.mobile_img{
    padding:0 5px;
}




.header_mobile{
    display:none;
}


.mobile_footer_content{
    display:none;
}



/* Media Query Start for Mobiles */





.priority_button{
   
        border-radius: 36px;
        background-color: #d6177d;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #dbdfeb;
        padding:11px 27px;
        margin:0 auto;
        border:none;
        margin-top:32px;
        text-decoration: none;

}
.synq_fitcontainer{
    background: #dbdfeb;
    height:376px;
}
.synq_kit{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}

.kit_head{
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color:#181c2b;
  padding-left:160px;
  padding-top:96px
}

.kit_para{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: center;
    color: #181c2b;
}

.synq_kit div{
    text-align: center;
}







.container_priority{
    display:flex;
    background:#0d1019;
    padding-top:58px;
}

.container_priority div{
    width:50%;

}

.container_priority .prior_img{
    width:50%;
}

.container_priority .img{
    widows: 1440px;
}
.container_priority .priority_text{
    font-family: 'Poppins';
    font-size: 44px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    color: #b7c9ff;
    margin-top:150px;
}

.container_priority .priority_minitext{
  width: 496px;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #7b819f;
  margin-top:25px;

}


.priority_button{
   
        border-radius: 36px;
        background-color: #d6177d;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #dbdfeb;
        padding:11px 27px;
        margin:0 auto;
        border:none;
        margin-top:32px;
        text-decoration: none;

}
.container_priority_mobile{
    display:none
}
.kit_pc{
    display:inline-block;
}
.kit_mob{
    display:none;
}
@media only screen and (max-width: 600px) {
.kit_pc{
    display:none;
}
.kit_mob{
    display:inline-block;
}

.container_priority{
    display:none;
}
.container_priority_mobile{
   display:block;
    background:url("../assets//mob_images/product/image-landing-mobile.png");
    padding-top:58px;
    height:640px;
}

.container_priority_mobile .priority_text{
  
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #b7c9ff;
   
}

.container_priority_mobile .priority_minitext{
font-size: 18px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.22;
letter-spacing: normal;
text-align: center;
width: 288px;
  color: #7b819f;
  margin:16px auto;

}


.priority_button{
   
        border-radius: 36px;
        background-color: #d6177d;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #dbdfeb;
        margin:0 auto;
        border:none;
        margin-top:32px;
        text-decoration: none;
        padding:10px 10px;
        width:100px;
        display:block;
}


/* synqfit */

.synq_fitcontainer{
    background: #dbdfeb;
    height:auto;
}
.synq_kit{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
   
}

.kit_head{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
  
  color:#181c2b;
    padding:0;
    padding-top:48px;

}

.kit_para{
  font-family: 'Poppins'; 
  color: #181c2b;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
}

.synq_kit div{
    text-align: center;
}




    /* header */

   
    .header{
        display:none;
    }



   
.header_mobile{
    display:flex;
    background-color: #0d1019    ;
    justify-content: space-between;
    position:sticky;
    z-index:99999;
    top:0;
}

 .header_mobile .mobile_logo{
  
  object-fit: contain;
  margin-left:24px;
  margin-top:12px;
  
}

.header_mobile .mobile_hamburg{
    margin-top:28px;
    margin-right:28px;
  }

  /* header_over */






    .footer{
        /* height:912px; */
        height:1237px;
        padding-top:64px;
        background:url("../assets/mob_images/logo-watermark-2.png");
        background-repeat: no-repeat;
        background-color: #0d1019;
        background-position: 26% 23%;
      }
      
      .footer .footer_menu{
          display:flex;
          flex-wrap: wrap;
      }
      
      .footer_menu div{
          width:100%;
      }
      
      .footer_menu .footer_menu_1{
          display:flex;
          justify-content: space-evenly;
          text-align:center;


      
      }
      
      .footer_menu .footer_menu_1 div{
          width:33.33%;
          margin:5px
      }
      
      .footer_heading
      { 
        font-family: "Poppins";
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color:#7b819f;
      
      }

      .right_footer{
          margin-top:25px;
          text-align:center;
      }
      
      .footer_menu_1 div ul{
          list-style-type: none;
          padding-top:16px;
      }
      
      .footer_menu_1 div ul li{
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: normal;
        color: #dbdfeb;
        padding:8px 0;
      }
      
      
      .footer_menu_1 div ul li a{
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.14;
          letter-spacing: normal;
          color: #dbdfeb;
          padding:8px 0;
          text-decoration:none;
        }
      
      .footer_text{
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        color: #dbdfeb;
        width:100%;
        height:350px;
        margin:auto;
        text-align:left;
        margin-top:67px;
        margin-left: 0;
        padding:0 24px;
        padding-bottom:20px;
      }

      .mobile_img{
          display:block;
          margin:0 !important;
          padding:0 !important;
          margin: 0 auto !important;
          margin-top:32px !important;
      }



.footer_input{
    width: 264px;
  height: 32px;
 text-align: center;
  margin-bottom: 24px;
  border-radius: 28px;
  background-color: whitesmoke;
   font-family: "Poppins";
    padding:0;
   font-size: 14px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.14;
   letter-spacing: normal;
   color: black;
   border:0;
   display:block;
   margin:0 auto;
   margin-top:5px;

}

.footer_form_button{
    margin-top:32px;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #dbdfeb;
    border-radius: 36px;
    background-color: #d6177d;
    width: 122px;
    height: 32px;
    border:0;
    margin:0 auto;
    margin-top:10px;
    display:block;




}
      
      
}



