.container{
    padding:0 20%;
    margin:5% 0;
}


.flex_container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr); 
    grid-row-gap: 5rem;
}



.flex_container div:hover .text_container{
    background:	#FF69B4;
 
 }
 
 



.head_img{
   width:100%;
   height:auto;
   object-fit: cover;

}

.head{
  font-family: 'Poppins';
  font-size: 1.8rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fefefe;
}

.para{

    font-family: 'Roboto';
    font-size: 1rem;

    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fefefe;
    margin:2% 0 !important;
}

.flex_container .text_container{
   
    width:100%;
    background:black;
    color:white;
}

.flex_container .text_container p{
    margin:0;
    }

    .flex_container .text_container p span{
        width:50%;
        text-align: right;
        display:inline-block;
        }
    

.flex_container .text_container .goto{
text-align: right;
}



.modalcontainer{
    display:flex;
    background:black
}

.modalcontainer div{
    margin:0 2%;
}


.name{
  color:white;
  font-family: 'Poppins';
  font-size: 2rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.82;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin:0;
}

.certi{
    font-family: 'Roboto';
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}


.exp{
  font-family: 'Roboto';
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #fffefe;
}

.bio{
  font-family: 'Poppins';
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.18;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.biodata{
    font-family: 'Roboto';
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.77;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}