.maincontainer{
    background:#0d1019;
    height:auto;

}

.main_head{
    color:white;
    margin-left:5%;
    padding-top:5%;
}

.container{
    background-image: url("../assets/tablet.png");
    height:100vh;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.container div{
    color:white;
    width:50%;
    text-align: center;
}


.text{
    font-family: 'Poppins';
    font-size: 37.5px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.12;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    background:#d6177d;
    width:50%;
    padding-left:5%;

}


.content_container{
    background:#dbdfeb;
    min-height:50vh;
    display:flex;
    justify-content:space-around;
    padding-top:5%;
}

.content_container div{
    flex-basis: 50%;
    padding:0 2%;
}


.content_head{
  font-family: 'Poppins';
  font-size: 29.2px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.73;
  letter-spacing: normal;
  text-align: left;
  color: #0d1019;
  margin:0;
}

.content_para{
  font-family: 'Roboto';
  font-size: 16.7px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.77;
  letter-spacing: normal;
  text-align: left;
  color: #0d1019;
}


.head{
  font-family: 'Poppins';
  font-size: 20.8px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.82;
  letter-spacing: normal;
  text-align: left;
  color: #0d1019;
}


.head_para{
    font-family: 'Roboto';
  font-size: 16.7px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.77;
  letter-spacing: normal;
  text-align: left;
  color: #0d1019;
  }


  .span{
      margin-left:2%;
  }

  .innercontainer{
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top:5%;
      padding-left:15%;

  }

  .innercontainer div{
    margin: 0 5%;
    flex-basis: 20%;
    background: black;
    height: 10vh;
    padding: 5% 12%;
    height:20vh;



  }

.innertext{
    color:white;
}