.thank-container{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0D1019;
    background-size: cover;
    flex-direction: column;
}

.thank-container h1{
    font-size: 75px;
    color:#fff;
    letter-spacing: 2px;
    margin-bottom: 0 !important;

}

.thank-container p{
    font-size: 40px;
    color: #fff;
    /* letter-spacing: 1.5px; */
}

@media only screen and (max-width: 600px) {
    .thank-container h1 {
        font-size: 60px;
    }
    .thank-container p {
        font-size: 30px;
        text-align: center;
    }
}