
.footer{
    height: 680px !important;
    padding-top:64px;
    background:url("../assets/images/footer.png");
    background-repeat: no-repeat;
    background-color: #0d1019;
    background-position:152px 79px;
  
  
  }
  
  .footer .footer_menu{
      display:flex;
  }
  
  .footer_menu div{
      width:50%;
  }
  
  .footer_menu .footer_menu_1{
      display:flex;
      justify-content: center;
  
  }
  
  
  .footer_menu .footer_menu_1 div{
      width:22%;
      margin:5px
  }
  
  .footer_heading
  { 
      font-family: "Poppins";
      font-size: 16px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.13;
      letter-spacing: normal;
      color: #7b819f;
  
  }

  .footer_business_heading
  { 
      font-family: "Poppins";
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.13;
      letter-spacing: normal;
      color: #7b819f;
  
  }
  
  .footer_menu_1 div ul{
      list-style-type: none;
      padding-top:16px;
  }
  
  .footer_menu_1 div ul li{
     
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #dbdfeb;
    padding:8px 0;
  }
  
  
  .footer_menu_1 div ul li a{
       
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
      color: #dbdfeb;
      padding:8px 0;
      text-decoration:none;
    }
  
  .footer_text{
       
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
      color: #dbdfeb;
      width:1120px;
      height:160px;
      margin:auto;
      text-align:left;
      margin-top:67px;
      margin-left: 97px;
  }
  
  
  .footer_input{
      width: 264px;
    height: 40px;
   text-align: center;
    margin-bottom: 24px;
    border-radius: 28px;
    background-color: whitesmoke;
     font-family: "Poppins";
      padding:0;
     font-size: 14px;
     font-weight: normal;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.14;
     letter-spacing: normal;
     color: black;
     border:0;
  }
  
  .footer_form_button{
      margin-top:32px;
       
      font-size: 16px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #dbdfeb;
      border-radius: 36px;
      background-color: #d6177d;
      width: 144px;
      height: 40px;
      border:0;
      margin:0 auto;
      margin-top:2px;
      margin-left:15px;
  
  
  }
  
  .right_footer{
      margin-top:3px;
  }
  

  


@media only screen and (max-width: 600px) {



    .footer{
        height:1040px !important;
        /* height:1163px; */
        padding-top:64px;
        background:url("../assets/mob_images/logo-watermark-2.png");
        background-repeat: no-repeat;
        background-color: #0d1019;
        background-position: 26% 23%;
      }
      
      .footer .footer_menu{
          display:flex;
          flex-wrap: wrap;
      }
      
      .footer_menu div{
          width:100%;
      }
      
      .footer_menu .footer_menu_1{
          display:flex;
          justify-content: space-evenly;
          text-align:center;


      
      }
      
      .footer_menu .footer_menu_1 div{
          width:33.33%;
          margin:5px
      }
      
      .footer_heading
      { 
        font-family: "Poppins";
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color:#7b819f;
      
      }

      .right_footer{
          margin-top:25px;
          text-align:center;
      }
      
      .footer_menu_1 div ul{
          list-style-type: none;
          padding-top:16px;
      }
      
      .footer_menu_1 div ul li{
         
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: normal;
        color: #dbdfeb;
        padding:8px 0;
      }
      
      
      .footer_menu_1 div ul li a{
           
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.14;
          letter-spacing: normal;
          color: #dbdfeb;
          padding:8px 0;
          text-decoration:none;
        }
      
      .footer_text{
         
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        color: #dbdfeb;
        width:100%;
        height:350px;
        margin:auto;
        text-align:left;
        margin-top:67px;
        margin-left: 0;
        padding:0 24px;
        padding-bottom:20px;
      }

      .mobile_img{
          display:block;
          margin:0 !important;
          padding:0 !important;
          margin: 0 auto !important;
          margin-top:32px !important;
      }



.footer_input{
    width: 264px;
  height: 32px;
 text-align: center;
  margin-bottom: 24px;
  border-radius: 28px;
  background-color: whitesmoke;
   font-family: "Poppins";
    padding:0;
   font-size: 14px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.14;
   letter-spacing: normal;
   color: black;
   border:0;
   display:block;
   margin:0 auto;
   margin-top:5px;

}

.footer_form_button{
    margin-top:32px;
     
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #dbdfeb;
    border-radius: 36px;
    background-color: #d6177d;
    width: 122px;
    height: 32px;
    border:0;
    margin:0 auto;
    margin-top:10px;
    display:block;




}
}