.Logo {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 12rem;
  width: 14rem;
  align-items: center;
  justify-content: center;
}
