.PostSection {
  display:flex;

}

.PostSection .first{
width:50%
}

.side_bar_post{
  width:50%;
  padding:0 5%;
}

.newsletter
{
  background:#0d1019;
  min-height: 50vh;
  height:auto;
  text-align: center;
}

.newsletter_heading{
  font-family: 'Poppins';
  font-size: 25px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.18;
  margin:0;
  letter-spacing: normal;
  color: #ffffff;
}


.newsletter_para{
  font-family: 'Roboto';
  font-size: 16.7px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
  margin:0;
  margin-bottom:5%;
}

.newsletter_input{
  width:80%;
  padding:2% 5%;
  border-radius:2rem;
  display:block;
  margin:0 auto;
}

.newsletter_btn{
  border-radius: 2rem;
  background-color: #d6177d !important;
  display:block;
  color:white;
  margin:0 auto;
  padding:2%;
  margin-top:5%;
}


/* 
old */
/* 
.PostSection--Grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
}

.PostSection button {
  margin-top: 1rem;
  margin-top: 5rem;
  background: white;
  border: 2px solid black;
  padding: 1rem 2rem;
  cursor: pointer;
}

.PostSection button:hover {
  background: black;
  border: 2px solid white;
  color: white;
}

.PostSection--Grid > * {
  width: calc(33.33% - 2rem);
  margin-bottom: 4rem;
}

@supports (display: grid) {
  .PostSection--Grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 4rem;
  }

  .PostSection--Grid > * {
    width: auto;
    margin: 0;
  }
}

.PostSection--Title {
  width: 100%;
  max-width: 200px;
  margin: 0 auto 4rem auto;
  line-height: 1.2;
}

@media screen and (max-width: 888px) {
  .PostSection--Grid > * {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto 4rem;
    display: block;
  }
  .PostSection {
    padding:5%;
    width:100%
  }
  

  @supports (display: grid) {
    .PostSection--Grid {
      display: block;
      grid-template-columns: 1;
      grid-gap: 0;
    }
  }
} */
